<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css')}}" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
     <div class="container">
        <div class="jumbotron">
            <h1>FLASK-MAIL DEMO</h1>
            <p>Email sent successfully</p>
        </div>
        <a href="/index" class="btn btn-info" role="button">Go Back</a>
     </div>
</body>
</html>